In [4]:
import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [6]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [8]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [9]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_colums = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_colums:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [10]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [11]:
tc = pd.to_numeric(df.totalcharges, errors='coerce')

In [12]:
tc.isnull().sum()

11

In [13]:
df[tc.isnull()][['customerid','totalcharges']]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [14]:
df.totalcharges = tc

In [15]:
df.totalcharges = df.totalcharges.fillna(0)

In [16]:
df.totalcharges.dtype

dtype('float64')

In [17]:
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [18]:
(df.churn == 'yes').head()

0    False
1    False
2     True
3    False
4     True
Name: churn, dtype: bool

In [19]:
df.churn = (df.churn == 'yes').astype(int)

In [20]:
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int64

In [21]:
df.churn.dtype

dtype('int64')

In [22]:
##validation framework
## train, validation, test
from sklearn.model_selection import train_test_split

train_test_split?

Signature:
train_test_split(
    *arrays,
    test_size=None,
    train_size=None,
    random_state=None,
    shuffle=True,
    stratify=None,
)
Docstring:
Split arrays or matrices into random train and test subsets.

Quick utility that wraps input validation and
``next(ShuffleSplit().split(X, y))`` and application to input data
into a single call for splitting (and optionally subsampling) data in a
oneliner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

shuffle : bool, default=True
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like, default=None
    If not None, data is split in a stratified fashion, using this as
    the class labels.
    Read more in the :ref:`User Guide <stratification>`.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]
File:      /usr/local/lib/python3.10/site-packages/sklearn/model_selection/_split.py
Type:      function

In [23]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

len(df_full_train), len(df_test)

(5634, 1409)

In [24]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [25]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [26]:
df_train = df_train.reset_index(drop= True)
df_test = df_test.reset_index(drop= True)
df_val = df_val.reset_index(drop= True)

In [27]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [28]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

In [29]:
df_full_train = df_full_train.reset_index(drop=True)
df_full_train.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [30]:
global_churn_rate = df_full_train.churn.mean()
round(global_churn_rate, 2)

0.27

In [31]:
df_full_train.gender.value_counts()

male      2838
female    2796
Name: gender, dtype: int64

In [32]:
df_full_train.partner.value_counts()

no     2932
yes    2702
Name: partner, dtype: int64

In [33]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [34]:
numeric_columns  = ['tenure', 'monthlycharges', 'totalcharges']
numeric_columns

['tenure', 'monthlycharges', 'totalcharges']

In [35]:
categorical_colums = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [36]:
for c in categorical_colums:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['count', 'mean'])
    df_group['diff'] = global_churn_rate - df_group['mean']
    df_group['risk'] = df_group['mean'] / global_churn_rate
    display(df_group)
    print()
    print()

gender

        count      mean      diff      risk
gender
female   2796  0.276824 -0.006856  1.025396
male     2838  0.263214  0.006755  0.974980

seniorcitizen

               count      mean      diff      risk
seniorcitizen
0               4722  0.242270  0.027698  0.897403
1                912  0.413377 -0.143409  1.531208

partner

         count      mean      diff      risk
partner
no        2932  0.329809 -0.059841  1.221659
yes       2702  0.205033  0.064935  0.759472

dependents

            count      mean      diff      risk
dependents
no           3968  0.313760 -0.043792  1.162212
yes          1666  0.165666  0.104302  0.613651

phoneservice

              count      mean      diff      risk
phoneservice
no              547  0.241316  0.028652  0.893870
yes            5087  0.273049 -0.003081  1.011412

multiplelines

                  count      mean      diff      risk
multiplelines
no                 2700  0.257407  0.012561  0.953474
no_phone_service    547  0.241316  0.028652  0.893870
yes                2387  0.290742 -0.020773  1.076948

internetservice

                 count      mean      diff      risk
internetservice
dsl               1934  0.192347  0.077621  0.712482
fiber_optic       2479  0.425171 -0.155203  1.574895
no                1221  0.077805  0.192163  0.288201

onlinesecurity

                     count      mean      diff      risk
onlinesecurity
no                    2801  0.420921 -0.150953  1.559152
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   1612  0.153226  0.116742  0.567570

onlinebackup

                     count      mean      diff      risk
onlinebackup
no                    2498  0.404323 -0.134355  1.497672
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   1915  0.217232  0.052736  0.804660

deviceprotection

                     count      mean      diff      risk
deviceprotection
no                    2473  0.395875 -0.125907  1.466379
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   1940  0.230412  0.039556  0.853480

techsupport

                     count      mean      diff      risk
techsupport
no                    2781  0.418914 -0.148946  1.551717
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   1632  0.159926  0.110042  0.592390

streamingtv

                     count      mean      diff      risk
streamingtv
no                    2246  0.342832 -0.072864  1.269897
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   2167  0.302723 -0.032755  1.121328

streamingmovies

                     count      mean      diff      risk
streamingmovies
no                    2213  0.338906 -0.068938  1.255358
no_internet_service   1221  0.077805  0.192163  0.288201
yes                   2200  0.307273 -0.037305  1.138182

contract

                count      mean      diff      risk
contract
month-to-month   3104  0.431701 -0.161733  1.599082
one_year         1186  0.120573  0.149395  0.446621
two_year         1344  0.028274  0.241694  0.104730

paperlessbilling

                  count      mean      diff      risk
paperlessbilling
no                 2313  0.172071  0.097897  0.637375
yes                3321  0.338151 -0.068183  1.252560

paymentmethod

                           count      mean      diff      risk
paymentmethod
bank_transfer_(automatic)   1219  0.168171  0.101797  0.622928
credit_card_(automatic)     1217  0.164339  0.105630  0.608733
electronic_check            1893  0.455890 -0.185922  1.688682
mailed_check                1305  0.193870  0.076098  0.718121

In [37]:
#mutual information - to measure the importance of categorical variables
from sklearn.metrics import mutual_info_score

In [38]:
mutual_info_score(df_full_train.churn, df_full_train.contract)

0.0983203874041556

In [39]:
def mutual_info_churn_score(series):
    return mutual_info_score(df_full_train.churn, series)

In [40]:
mi = df_full_train[categorical_colums].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

In [42]:
# correlation - to measure the importance of numeric variables
df_full_train[numeric_columns].corrwith(df_full_train.churn).abs()

tenure            0.351885
monthlycharges    0.196805
totalcharges      0.196353
dtype: float64

In [106]:
# one - hot encoding to encode categorical variable
from sklearn.feature_extraction import DictVectorizer

In [107]:
train_dicts = df_train[categorical_colums + numeric_columns].to_dict(orient='records')

In [108]:
dv =  DictVectorizer(sparse=False)

In [88]:
dv.fit(train_dicts)

DictVectorizer(sparse=False)

In [109]:
X_train = dv.fit_transform(train_dicts)
X_train.shape

(4225, 45)

In [110]:
#since fitting to DV is already done we don't need to fit details to dv anymore
val_dicts = df_val[categorical_colums + numeric_columns].to_dict(orient='records')
X_val = dv.transform(val_dicts)
X_val.shape

(1409, 45)

In [111]:
test_dict = df_test[categorical_colums + numeric_columns].to_dict(orient='records')
X_test = dv.transform(test_dict)
X_test.shape

(1409, 45)

#### logistic regression 
* Binary classification
* it takes the output of linear regression and puts it into a `sigmoid` function with op ranging between: ${0,1}$

$sigmoid(z) = 1 / ( 1 + e^{-z})$

In [50]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [92]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [93]:
model.fit(X_train, y_train)

LogisticRegression()

In [94]:
#weights - w
model.coef_.shape

(1, 45)

In [56]:
model.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [95]:
# bias - w0
model.intercept_

array([-0.10903556])

In [96]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1])

In [59]:
y_pred = model.predict_proba(X_val)[:,1]
churn_decision = (y_pred >= 0.5)

df_val[churn_decision].customerid

3       8433-wxgna
8       3440-jpscl
11      2637-fkfsy
12      7228-omtpn
19      6711-fldfb
           ...
1397    5976-jcjrh
1398    2034-cgrhz
1399    5276-kqwhg
1407    6521-yytyi
1408    3049-solay
Name: customerid, Length: 311, dtype: object

In [65]:
#accuracy
(y_val == churn_decision).mean()

0.8034066713981547

In [66]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = churn_decision.astype(int)
df_pred['actual'] = y_val

In [67]:
df_pred['correct'] = df_pred.prediction == df_pred.actual

In [68]:
df_pred.correct.mean()

0.8034066713981547

In [72]:
dict(zip(dv.get_feature_names(), model.coef_[0].round(2)))

/usr/local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

{'contract=month-to-month': 0.47,
 'contract=one_year': -0.17,
 'contract=two_year': -0.41,
 'dependents=no': -0.03,
 'dependents=yes': -0.08,
 'deviceprotection=no': 0.06,
 'deviceprotection=no_internet_service': -0.09,
 'deviceprotection=yes': -0.08,
 'gender=female': -0.03,
 'gender=male': -0.07,
 'internetservice=dsl': -0.34,
 'internetservice=fiber_optic': 0.32,
 'internetservice=no': -0.09,
 'monthlycharges': 0.0,
 'multiplelines=no': -0.26,
 'multiplelines=no_phone_service': 0.14,
 'multiplelines=yes': 0.01,
 'onlinebackup=no': 0.06,
 'onlinebackup=no_internet_service': -0.09,
 'onlinebackup=yes': -0.08,
 'onlinesecurity=no': 0.27,
 'onlinesecurity=no_internet_service': -0.09,
 'onlinesecurity=yes': -0.28,
 'paperlessbilling=no': -0.23,
 'paperlessbilling=yes': 0.12,
 'partner=no': -0.17,
 'partner=yes': 0.06,
 'paymentmethod=bank_transfer_(automatic)': -0.09,
 'paymentmethod=credit_card_(automatic)': -0.03,
 'paymentmethod=electronic_check': 0.07,
 'paymentmethod=mailed_check': -0.06,
 'phoneservice=no': 0.14,
 'phoneservice=yes': -0.25,
 'seniorcitizen': 0.22,
 'streamingmovies=no': -0.12,
 'streamingmovies=no_internet_service': -0.09,
 'streamingmovies=yes': 0.1,
 'streamingtv=no': -0.07,
 'streamingtv=no_internet_service': -0.09,
 'streamingtv=yes': 0.05,
 'techsupport=no': 0.21,
 'techsupport=no_internet_service': -0.09,
 'techsupport=yes': -0.23,
 'tenure': -0.07,
 'totalcharges': 0.0}

In [112]:
#picking a random customer and see if they are going to churn


customer = df_test[numeric_columns + categorical_colums].to_dict(orient='records')
customer_dict = [customer[-1]]


X_test_customer = dv.transform(customer_dict)

In [113]:
X_test_customer

array([[1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0420e+02, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+00, 0.0000e+00, 0.0000e+00, 1.7000e+01, 1.7435e+03]])

In [84]:
y_test[-1]

1

In [115]:
y_pred_customer = model.predict_proba(X_test_customer)

In [117]:
y_pred_customer[0][1]

0.6222140675829626