In [0]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

In [0]:
cars = spark.sql('select * from default.cars')
cars_fixed = cars.na.fill({'model':'unknown','vehicleType':'default'})
cars_df = cars_fixed.withColumn('ivm', F.expr(" brand || '-' || model || '-' || vehicleType"))\
.select('name','model','brand',F.col('dateCrawled').alias('date_created'),'ivm','price',F.col('vehicleType').alias('type'),\
                                                                F.col('yearOfRegistration').alias('yr_since_reg'),'postalCode','lastSeen')
cars_df.createOrReplaceTempView('cars_s')

In [0]:
cars_df.show(30,True)

+--------------------+--------+-------------+----------------+--------------------+-----+-------------+------------+----------+----------------+
|                name|   model|        brand|    date_created|                 ivm|price|         type|yr_since_reg|postalCode|        lastSeen|
+--------------------+--------+-------------+----------------+--------------------+-----+-------------+------------+----------+----------------+
|        Zu_verkaufen|     3er|          bmw|30/03/2016 13:51|   bmw-3er-limousine| 4450|    limousine|        2003|     20257|07/04/2016 04:44|
|Volvo_XC90_2.4D_S...|xc_reihe|        volvo|07/03/2016 09:54|  volvo-xc_reihe-suv|13299|          suv|        2005|     88045|26/03/2016 13:17|
|   Volkswagen_Touran|  touran|   volkswagen|01/04/2016 00:57|volkswagen-touran...| 3200|          bus|        2003|     27449|01/04/2016 08:40|
|Seat_Ibiza_1.4_16...|   ibiza|         seat|19/03/2016 17:50|seat-ibiza-small car| 4500|    small car|        2006|     34537|07/04/2016 04:44|
|Volvo_XC90_D5_Aut...|xc_reihe|        volvo|16/03/2016 14:51|  volvo-xc_reihe-suv|18750|          suv|        2008|     55270|01/04/2016 23:18|
|VW_Passat_35i_Fac...|  passat|   volkswagen|02/04/2016 12:51|volkswagen-passat...|  988|    limousine|        1995|     26826|02/04/2016 12:51|
|          Opel_astra|   astra|         opel|03/04/2016 11:06|opel-astra-statio...|  400|station wagon|        1996|     56422|06/04/2016 16:47|
|Mercedes_Benz_CLK...|     clk|mercedes_benz|24/03/2016 15:52|mercedes_benz-clk...| 1399|        coupe|        1997|     13353|27/03/2016 12:45|
|Vectra_C_Caravan_...|  vectra|         opel|28/03/2016 14:40|opel-vectra-stati...| 4680|station wagon|        2005|     28307|06/04/2016 18:19|
|Skoda_Octavia_2.0...| octavia|        skoda|05/04/2016 11:38|skoda-octavia-lim...| 8340|    limousine|        2005|     16761|05/04/2016 11:38|
|Mercedes_Benz_A_1...|a_klasse|mercedes_benz|21/03/2016 09:52|mercedes_benz-a_k...| 1870|    limousine|        2001|     26835|22/03/2016 14:19|
|   Opel_Astra___G_CC|   astra|         opel|25/03/2016 12:40|    opel-astra-coupe| 2500|        coupe|        2001|     31174|28/03/2016 11:44|
|Toyota_Yaris_1.0_...|   yaris|       toyota|13/03/2016 07:52|toyota-yaris-smal...|  990|    small car|        2001|     24848|13/03/2016 07:52|
|BMW_e46_316ti_Com...|     3er|          bmw|21/03/2016 18:56|     bmw-3er-default| 3000|      default|        2016|     34379|23/03/2016 00:45|
|Schoen_klein_wage...|  meriva|         opel|08/03/2016 20:52|opel-meriva-limou...| 2200|    limousine|        2003|     51065|05/04/2016 21:15|
|Volvo_V70_Kombi_D...| unknown|        volvo|02/04/2016 13:44|volvo-unknown-sta...| 1600|station wagon|        1999|     18059|06/04/2016 11:45|
|   Nissan_Terrano_II|  others|       nissan|12/03/2016 21:52|   nissan-others-suv| 1300|          suv|        1993|     49406|24/03/2016 23:17|
|        Iveco_KASTEN| unknown|       others|22/03/2016 13:58|others-unknown-ot...| 4100|       others|        2002|     34125|06/04/2016 03:17|
|Verkaufe_Golf_4_d...|    golf|   volkswagen|15/03/2016 09:51|volkswagen-golf-s...|  600|    small car|        1998|     36100|15/03/2016 10:44|
|Golf_3_mit_tuev_a...|    golf|   volkswagen|01/04/2016 13:56|volkswagen-golf-d...|  698|      default|        2017|     51147|03/04/2016 10:17|
|Selten_gewordener...| 3_reihe|        mazda|25/03/2016 09:50|mazda-3_reihe-lim...|  680|    limousine|        1992|     58730|25/03/2016 09:50|
|         Top_Zustand| carisma|   mitsubishi|27/03/2016 22:58|mitsubishi-carism...| 1199|    limousine|        1998|     19370|06/04/2016 07:45|
|Volkswagen_Golf_C...|    golf|   volkswagen|02/04/2016 19:50|volkswagen-golf-c...| 1599|       cabrio|        1995|     23879|06/04/2016 20:17|
|Golf_3_Rolling_St...|    golf|   volkswagen|27/03/2016 12:52|volkswagen-golf-s...| 1000|    small car|        1996|     38640|01/04/2016 12:15|
|Mitsubishi_Colt_1...|    colt|   mitsubishi|12/03/2016 21:56|mitsubishi-colt-l...| 1100|    limousine|        1999|     86830|17/03/2016 03:46|
|      Audi_80_Cabrio|      80|         audi|13/03/2016 16:53|      audi-80-cabrio| 3999|       cabrio|        1991|     51545|24/03/2016 06:45|
|      Fiat_Panda_1.2|   panda|         fiat|12/03/2016 16:58|fiat-panda-small car| 1290|    small car|        2003|     53859|12/03/2016 16:58|
|Nissan_Micra_C+C_1.4|   micra|       nissan|19/03/2016 19:38| nissan-micra-cabrio| 3900|       cabrio|        2006|     26487|07/04/2016 06:46|
|Alfa_Romeo_156_Sp...|     156|   alfa_romeo|29/03/2016 20:48|alfa_romeo-156-st...|  700|station wagon|        2000|     82024|06/04/2016 07:17|
|Saab_9_3_2.0_t_Sp...|  others|         saab|26/03/2016 14:45|saab-others-stati...| 2250|station wagon|        2005|     12205|04/04/2016 01:18|
+--------------------+--------+-------------+----------------+--------------------+-----+-------------+------------+----------+----------------+
only showing top 30 rows

In [0]:
cars_df.rdd.getNumPartitions()

Out[7]: 3

In [0]:
spark.conf.get('spark.sql.files.maxPartitionBytes')

Out[10]: '134217728b'

In [0]:
spark.sparkContext.appName

Out[11]: 'Databricks Shell'

In [0]:
spark.sparkContext.applicationId

Out[12]: 'local-1657352912330'

In [0]:
cars_df.withColumn('int_price',F.col('price').cast('Integer')).withColumn('say_my_name',F.lit('raj'))\
.withColumnRenamed('type','vehicle_type').drop('price','name').show(10,False)

+--------+-------------+----------------+---------------------------+-------------+------------+----------+----------------+---------+-----------+
|model   |brand        |date_created    |ivm                        |vehicle_type |yr_since_reg|postalCode|lastSeen        |int_price|say_my_name|
+--------+-------------+----------------+---------------------------+-------------+------------+----------+----------------+---------+-----------+
|3er     |bmw          |30/03/2016 13:51|bmw-3er-limousine          |limousine    |2003        |20257     |07/04/2016 04:44|4450     |raj        |
|xc_reihe|volvo        |07/03/2016 09:54|volvo-xc_reihe-suv         |suv          |2005        |88045     |26/03/2016 13:17|13299    |raj        |
|touran  |volkswagen   |01/04/2016 00:57|volkswagen-touran-bus      |bus          |2003        |27449     |01/04/2016 08:40|3200     |raj        |
|ibiza   |seat         |19/03/2016 17:50|seat-ibiza-small car       |small car    |2006        |34537     |07/04/2016 04:44|4500     |raj        |
|xc_reihe|volvo        |16/03/2016 14:51|volvo-xc_reihe-suv         |suv          |2008        |55270     |01/04/2016 23:18|18750    |raj        |
|passat  |volkswagen   |02/04/2016 12:51|volkswagen-passat-limousine|limousine    |1995        |26826     |02/04/2016 12:51|988      |raj        |
|astra   |opel         |03/04/2016 11:06|opel-astra-station wagon   |station wagon|1996        |56422     |06/04/2016 16:47|400      |raj        |
|clk     |mercedes_benz|24/03/2016 15:52|mercedes_benz-clk-coupe    |coupe        |1997        |13353     |27/03/2016 12:45|1399     |raj        |
|vectra  |opel         |28/03/2016 14:40|opel-vectra-station wagon  |station wagon|2005        |28307     |06/04/2016 18:19|4680     |raj        |
|octavia |skoda        |05/04/2016 11:38|skoda-octavia-limousine    |limousine    |2005        |16761     |05/04/2016 11:38|8340     |raj        |
+--------+-------------+----------------+---------------------------+-------------+------------+----------+----------------+---------+-----------+
only showing top 10 rows

In [0]:

from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |OH   |M     |
+----------------------+------------------+-----+------+

In [0]:
# sql expression
df.filter("state = 'NY' AND gender = 'M'").show(10,False)

+--------------------+------------+-----+------+
|name                |languages   |state|gender|
+--------------------+------------+-----+------+
|{Maria, Anne, Jones}|[CSharp, VB]|NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]|NY   |M     |
+--------------------+------------+-----+------+

In [0]:
df.filter((df.state == 'NY') & (F.col('name.firstname') == 'Maria') | (F.upper(df['name.firstname']) == 'JEN')).show(10,False)

+--------------------+------------+-----+------+
|name                |languages   |state|gender|
+--------------------+------------+-----+------+
|{Maria, Anne, Jones}|[CSharp, VB]|NY   |M     |
|{Jen, Mary, Brown}  |[CSharp, VB]|NY   |M     |
+--------------------+------------+-----+------+

In [0]:
#Filter IS IN List values
li=["OH","CA","DE"]
df.filter(df.state.isin(li)).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
df.rdd.getNumPartitions()

Out[23]: 8

In [0]:
df.filter(df.state.startswith("N")).show()
df.filter(df.state.endswith("H")).show()
df.filter(df.state.contains("H")).show()

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
+--------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:

data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])

# like - SQL LIKE pattern
df2.filter(df2.name.like("%rose%")).show()


# rlike - SQL RLIKE pattern (LIKE with Regex)
#This check case insensitive
df2.filter(df2.name.rlike("(?i)^*rose$")).show()

+---+----------+
| id|      name|
+---+----------+
|  5|Rames rose|
+---+----------+

+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|
+---+------------+

In [0]:
df.filter(F.array_contains(F.col('languages'),'Java')).show()

+----------------+------------------+-----+------+
|            name|         languages|state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|   OH|     M|
|  {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
+----------------+------------------+-----+------+

In [0]:
df.filter(df.name.lastname == "Williams") \
    .show(truncate=False)

+----------------------+------------+-----+------+
|name                  |languages   |state|gender|
+----------------------+------------+-----+------+
|{Julia, , Williams}   |[CSharp, VB]|OH   |F     |
|{Mike, Mary, Williams}|[Python, VB]|OH   |M     |
+----------------------+------------+-----+------+

In [0]:
#sorting

simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [0]:

df.sort(df.department.asc(),df.state.desc()).show(truncate=False)
df.sort(F.col("department").asc(),F.col("state").desc()).show(truncate=False)
df.orderBy(F.col("department").asc(),F.col("state").desc()).show(truncate=False)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Jen          |Finance   |NY   |79000 |53 |15000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|James        |Sales     |NY   |90000 |34 |10000|
|Robert       |Sales     |CA   |81000 |30 |23000|
+-------------+----------+-----+------+---+-----+

In [0]:

data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

In [0]:
#map
rdd = df.rdd.map(lambda x: (x[0] + ',' + x[1],x[2],x[3]))
schema = ["name","gender","new_salary"]
rdd.toDF(schema).show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        30|
|      Anna,Rose|     F|        41|
|Robert,Williams|     M|        62|
+---------------+------+----------+

In [0]:
#pivot
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- Country: string (nullable = true)

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
|Banana |1000  |USA    |
|Carrots|1500  |USA    |
|Beans  |1600  |USA    |
|Orange |2000  |USA    |
|Orange |2000  |USA    |
|Banana |400   |China  |
|Carrots|1200  |China  |
|Beans  |1500  |China  |
|Orange |4000  |China  |
|Banana |2000  |Canada |
|Carrots|2000  |Canada |
|Beans  |2000  |Mexico |
+-------+------+-------+

In [0]:
#pivot
pivotDF = df.groupBy("Product").pivot("Country").sum("Amount")
pivotDF.printSchema()
pivotDF.show(truncate=False)

root
 |-- Product: string (nullable = true)
 |-- Canada: long (nullable = true)
 |-- China: long (nullable = true)
 |-- Mexico: long (nullable = true)
 |-- USA: long (nullable = true)

+-------+------+-----+------+----+
|Product|Canada|China|Mexico|USA |
+-------+------+-----+------+----+
|Orange |null  |4000 |null  |4000|
|Beans  |null  |1500 |2000  |1600|
|Banana |2000  |400  |null  |1000|
|Carrots|2000  |1200 |null  |1500|
+-------+------+-----+------+----+

In [0]:
#unpivot

unpivotExpr = "stack(3, 'Canada', Canada, 'China', China, 'Mexico', Mexico) as (Country,Total)"
unPivotDF = pivotDF.select("Product", F.expr(unpivotExpr)) \
    .where("Total is not null")
unPivotDF.show(truncate=False)
unPivotDF.show()

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
|Orange |China  |4000 |
|Beans  |China  |1500 |
|Beans  |Mexico |2000 |
|Banana |Canada |2000 |
|Banana |China  |400  |
|Carrots|Canada |2000 |
|Carrots|China  |1200 |
+-------+-------+-----+

+-------+-------+-----+
|Product|Country|Total|
+-------+-------+-----+
| Orange|  China| 4000|
|  Beans|  China| 1500|
|  Beans| Mexico| 2000|
| Banana| Canada| 2000|
| Banana|  China|  400|
|Carrots| Canada| 2000|
|Carrots|  China| 1200|
+-------+-------+-----+

In [0]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
#empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
#deptDF.printSchema()
deptDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
# inner join
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, 'inner').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#leftsemi
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, 'leftsemi').show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [0]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, 'right').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, 'outer').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  null|    null|           null|       null|       null|  null|  null|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     null|   null|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [0]:
#self join

empDF.alias("emp1").join(empDF.alias("emp2"), \
    F.col("emp1.superior_emp_id") == F.col("emp2.emp_id"),"inner") \
    .select(F.col("emp1.emp_id"),F.col("emp1.name"), \
      F.col("emp2.emp_id").alias("superior_emp_id"), \
      F.col("emp2.name").alias("superior_emp_name")) \
   .show(truncate=False)

+------+--------+---------------+-----------------+
|emp_id|name    |superior_emp_id|superior_emp_name|
+------+--------+---------------+-----------------+
|2     |Rose    |1              |Smith            |
|3     |Williams|1              |Smith            |
|4     |Jones   |2              |Rose             |
|5     |Brown   |2              |Rose             |
|6     |Brown   |2              |Rose             |
+------+--------+---------------+-----------------+

In [0]:
#groupBy

simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()

df.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:

df.groupBy("department") \
    .sum("salary").alias("sum_salary").collect()

Out[61]: [Row(department='Sales', sum(salary)=257000),
 Row(department='Finance', sum(salary)=351000),
 Row(department='Marketing', sum(salary)=171000)]

In [0]:
df.groupBy("department","state") \
    .sum("salary","bonus") \
    .show(10,False)

+----------+-----+-----------+----------+
|department|state|sum(salary)|sum(bonus)|
+----------+-----+-----------+----------+
|Sales     |NY   |176000     |30000     |
|Sales     |CA   |81000      |23000     |
|Finance   |CA   |189000     |47000     |
|Finance   |NY   |162000     |34000     |
|Marketing |NY   |91000      |21000     |
|Marketing |CA   |80000      |18000     |
+----------+-----+-----------+----------+

In [0]:

df.groupBy("department") \
    .agg(F.sum("salary").alias("sum_salary"), \
         F.avg("salary").alias("avg_salary"), \
         F.sum("bonus").alias("sum_bonus"), \
         F.max("bonus").alias("max_bonus") \
     ) \
    .show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |351000    |87750.0          |81000    |24000    |
|Marketing |171000    |85500.0          |39000    |21000    |
+----------+----------+-----------------+---------+---------+

In [0]:
#having clause

df.groupBy("department") \
    .agg(F.sum("salary").alias("sum_salary"), \
      F.avg("salary").alias("avg_salary"), \
      F.sum("bonus").alias("sum_bonus"), \
      F.max("bonus").alias("max_bonus")) \
    .where(F.col("sum_bonus") >= 50000) \
    .show(truncate=False)

+----------+----------+-----------------+---------+---------+
|department|sum_salary|avg_salary       |sum_bonus|max_bonus|
+----------+----------+-----------------+---------+---------+
|Sales     |257000    |85666.66666666667|53000    |23000    |
|Finance   |351000    |87750.0          |81000    |24000    |
+----------+----------+-----------------+---------+---------+

In [0]:
#window function
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
from pyspark.sql.window import Window

In [0]:
window_spec = Window.partitionBy('department').orderBy('salary')

In [0]:
df.withColumn('row',F.row_number().over(window_spec))\
    .withColumn('avg_salary',F.avg('salary').over(window_spec))\
    .withColumn('rolling_sum_salary',F.sum('salary').over(window_spec))\
    .where(F.col('row') >= 1)\
    .select('employee_name','department','rolling_sum_salary','avg_salary').show(10,False)

+-------------+----------+------------------+----------+
|employee_name|department|rolling_sum_salary|avg_salary|
+-------------+----------+------------------+----------+
|Maria        |Finance   |3000              |3000.0    |
|Scott        |Finance   |6300              |3150.0    |
|Jen          |Finance   |10200             |3400.0    |
|Kumar        |Marketing |2000              |2000.0    |
|Jeff         |Marketing |5000              |2500.0    |
|James        |Sales     |6000              |3000.0    |
|James        |Sales     |6000              |3000.0    |
|Robert       |Sales     |14200             |3550.0    |
|Saif         |Sales     |14200             |3550.0    |
|Michael      |Sales     |18800             |3760.0    |
+-------------+----------+------------------+----------+