In [1]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [2]:
#read training and testing data set

train_df = pd.read_parquet('data/fhv_tripdata_2021-01.parquet')
test_df = pd.read_parquet('data/fhv_tripdata_2021-02.parquet')

train_df.shape, test_df.shape

((1154112, 7), (1037692, 7))

In [3]:
#exploring train data
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            195845 non-null   float64
 4   DOlocationID            991892 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 61.6+ MB

In [5]:
train_df['duration'] = train_df.dropOff_datetime - train_df.pickup_datetime
train_df.duration = train_df.duration.apply(lambda du: du.total_seconds()/60)

train_df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,15.216667

In [7]:
train_df.describe()
#avg duration time : 19.16

        PUlocationID   DOlocationID      duration
count  195845.000000  991892.000000  1.154112e+06
mean      139.859690     135.898030  1.916722e+01
std        74.991382      80.474902  3.986922e+02
min         1.000000       1.000000  1.666667e-02
25%        75.000000      67.000000  7.766667e+00
50%       143.000000     132.000000  1.340000e+01
75%       206.000000     213.000000  2.228333e+01
max       265.000000     265.000000  4.233710e+05